<mat-card>
  <form (submit)="onSavePost(editPost)" #editPost="ngForm">
  <mat-form-field>
    <input matInput type="text" name="title"
    ngModel
    required
    placeholder="Title Here ..."
    #title="ngModel" [value]="posts.title">
    <mat-error *ngIf="title.invalid">Please Enter the post title</mat-error>
  </mat-form-field>
<mat-form-field >
<textarea matInput rows="4"
name="content" ngModel
placeholder="Content Here ..."
required #content="ngModel" [value]="posts.content">
</textarea>
<mat-error *ngIf="content.invalid">Please Enter the post content.</mat-error>

</mat-form-field >
<button mat-raised-button
color="accent"
 type="submit" >Save</button>

 <button id="cancelBtn" mat-raised-button
color="accent"
 type="cancel" (click)="onCancel()">Cancel</button>
</form>
</mat-card>
