<!-- <textarea rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)" >Post</button>
<p>{{newPost}}</p> -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput type="text" name="title"
    ngModel
    required
    minlength="3"
    #title="ngModel">
    <mat-error *ngIf="title.invalid">Please Enter the post title</mat-error>
  </mat-form-field>
<mat-form-field >
<textarea matInput rows="4"
name="content" ngModel
required #content="ngModel">
</textarea>
<mat-error *ngIf="content.invalid">Please Enter the post content.</mat-error>

</mat-form-field >
<button mat-raised-button
color="accent"
 type="submit">Post</button>
</form>
</mat-card>
<!-- mat-raised-button (click)="onAddPost()" -->

