<mat-accordion multi="true" *ngIf="posts.length>0">
<mat-expansion-panel *ngFor="let post of posts " >
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{post.title}}
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
  <p>{{post.content}}</p>
  <mat-action-row>
  <button (click)="editPost(post)"  mat-button color="primary" >Edit</button>
    <button (click)="deletePost(post)" mat-button color="warn" >Delete</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
<p class="text-info mat-body-1" *ngIf="posts.length<=0"> No Posts Yet!</p>
